.genre-container {
  width: 200px;
  padding: 16px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  height: calc(100vh - 60px);
  position: fixed;
  left: 0;
  top: 65px;                   
  overflow-y: auto;
}


.genre-title {
  margin-bottom: 12px;
  font-size: 18px;
  color: #333;
}

.genre-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.genre-item {
  margin-bottom: 10px;
}

.genre-link {
  text-decoration: none;
  color: #007bff;
  font-size: 15px;
}

.genre-link:hover {
  text-decoration: underline;
  color: #0056b3;
}
