<form (ngSubmit)="onSubmit()" #bookForm="ngForm" class="form">

  <div class="form-group">
    <label>Title</label>
    <input 
      type="text" 
      class="form-control"
      name="title" 
      [(ngModel)]="book.name" 
      required>
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea 
      class="form-control"
      name="description" 
      [(ngModel)]="book.description"
      required>
    </textarea>
  </div>

  <div class="form-group">
    <label>Image URL</label>
    <input 
      type="text" 
      class="form-control"
      name="imageUrl" 
      [(ngModel)]="book.imageUrl"
      required>
  </div>

  <div class="form-group">
    <label>Author</label>
    <input 
      type="text" 
      class="form-control"
      name="author" 
      [(ngModel)]="book.author"
      required>
  </div>

  <div class="genre-select-container">
  <label>Genres</label>
  <select
    multiple
    [(ngModel)]="selectedGenreIds"
    name="genreIds"
    size="5"
    class="genre-select">
    <option *ngFor="let g of genres" [ngValue]="g.id">
      {{ g.name }}
    </option>
  </select>
</div>

<div class="form-group">
  <label>Price</label>
  <input 
    type="number"
    class="form-control"
    name="price"
    [(ngModel)]="book.price"
    required
    min="0"
    step="0.01">
</div>

  <button 
    type="submit" 
    class="btn" 
    [disabled]="bookForm.invalid">
    Create Book
  </button>

</form>
