html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background-image: url('assets/background.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
